<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title Books API sample
  body
    .gb
      .gb-search-box
        h2.gb-search-box 書籍検索ボックス
        input(type="text" name="keyword")
        button(type="button" name="search") 検索
      .gb-result
        ul.gb-list
          li.gb-list__item
            img.gb-list__img(src="")
            h3.gb-list__title
            .gb-list__desc
  
  script(src="index.js")